html, body {
	height: 100%;
	width: 100%;
}

/*
	HEADER STYLES
*/

#header {
	background-color: #2479A7;
	height: 37px;
}


/*
	CONTENT STYLES
*/
#content, #sidebar, #courses {

} 

#content {
	background-color: #478cA1;
}

#sidebar {
	height: 70%;
	width: 20%;
	vertical-align: middle;
	float: right;
	border-radius: 6px;
	display: inline;
}

#courses {
	width: 80%;
	display: inline;

}

#courses > div {
	/*padding: 10px;
	margin: 8px 0px 0px 8px;
	border-radius: 5px;
	width: 255px;
	height: 100px;
	display: inline-block;
*/
	width: 25%;
}

#courses > div, #sidebar {
	background-color: #b1b1b1;
}